<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Locais</title>

    <link rel="stylesheet" href="/css/master.css">
    <script src="/JS/menu.js"></script>
</head>
<body class="telaLocais">
    <header class="header-locais">

      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <div class="logo-container">
        <img src="etecmcm.png" alt="Logo MCM"/>
      </div>

      <div class="ORGInfoHeader">
        <h1>Locais</h1><!--Nome da tela (ex. Avaliação)-->
      </div>

    </header>

    <div id="mySideMenu" class="side-menu">
      <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
      <a href="#">Mapa</a>
      <a href="#">Avaliação</a>
      <a href="#">Projetos</a>
      <a href="#">Ranking</a>
      <a href="#">Cursos</a>
      <a href="#">Sobre a Etec</a>
      <a href="#">Configurações</a>
    </div>

    <section class="BTNLocais">
        <button> Bloco A</button>
        <br>
        <button> Bloco B </button>
        <br>
        <button> Biblioteca </button>
        <br>
        <button> Auditório </button>
        <br>
        <button> Quadra </button>
    </section>
</body>
</html>