<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETEC Professora Maria Cristina Medeiros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <script src="/JS/menu.js"></script>
</head>
<body class="telaSobreEtec">
    <header>
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <div class="logo-container">
        <img src="/img/etecmcm.png" alt="Logo MCM"/>
      </div>
      <div class="ORGInfoHeader">
        <h1>Inicio</h1>
      </div>
    </header>

    <div class="container-sobreEtec">
    <!-- Imagem centralizada no topo -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/ETEC-RibeiraoPires.jpg/320px-ETEC-RibeiraoPires.jpg"
        alt="ETEC Ribeirão Pires"
        class="imagem-central" />

    <main class="conteudo-sobreEtec">
        <p>
            O processo de implantação da Escola Técnica Estadual de Ribeirão Pires começou em 2005, com a criação de duas classes. O prédio no Jardim Alvorada, que era a Escola Estadual Antonio Fortes, passou por reformas em 2006. A primeira aula ocorreu em fevereiro, e a escola foi oficialmente criada em março de 2006, com a nomeação da diretora Maria Cristina Medeiros:
        </p>

        <div class="imagem-texto">
            <img src="/img/etec-frente.jpeg" />
            <p>
                Desde então, novos cursos foram abertos e o corpo docente aumentou.
            </p>
        </div>

        <p>Em 2010.</p>

        <p>
            Desde então, novos cursos foram abertos e o corpo docente aumentou. Em 2010, foram introduzidos cursos à distância, e os novos cursos continuaram a ser implementados até 2015, quando a escola homenageou-a Escola Técnica Estadual Professora Maria Cristina Medeiros.
        </p>
    </main>
    </div>
</body>
</html>