* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --FONTTitulo: arial;
    --FONTTituloSIZE: 20px;
    --FONTBTNSMenu: arial;
    --COLORBTNSMenu: black;
    --BACKGROUNDCOLORBTNSMenu: rgba(255, 255, 255, 0.5);
}

/* Menu Toggle */
.menu-toggle {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #000;
    margin: 6px 0;
    border-radius: 15px;
    transition: transform 0.5s, opacity 0.5s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Side Menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
}

.side-menu.open {
    width: 250px;
}

.side-menu a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: all 0.3s ease;
}

.side-menu a:hover {
    color: #f1f1f1;
    background-color: #444;
}

.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.side-menu .close-btn:hover {
    color: #818181;
    background-color: transparent;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.ORGInfoHeader {
    display: flex;
    width: 50%;
    gap: 50%;
    justify-content: flex-end;
}

h1 {
    font-family: var(--FONTTitulo);
    font-size: var(--FONTTituloSIZE);
}

body {
    background-color: #e78080;
}

.container-projeto {
    width: 90%;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.projeto-nome {
    background-color: #fd9797c0;
    height: 40px;
    border: solid 5px #D71414;
    box-shadow: 0 0 10px #D71414;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
}

.projeto-lugar {
    width: 100%;
    background-color: #ffffff9a;
    height: 40px;
    border: solid 5px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colocacao {
    background-color: white;
    position: fixed;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 80%;
    font-weight: bold;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.projetos {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Estilo de fundo que o body terá no Tablet */
@media (min-width: 768px) {
    body.telaRanking {
        background-image: url(/img/Início.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Estilo de fundo que o body terá no Tablet */
@media (min-width: 375px) and (max-width: 768px) {
    body.telaRanking {
        background-image: url(/img/Início.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Estilo de fundo que o body terá no Celular */
@media (max-width: 375px) {
    body.telaRanking {
        background-image: url(/img/Início.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
